---
import { getUserDetails } from "../services/userService"
import SignedInPage from "../layouts/SignedInPage.astro"

const userId = Astro.locals.user.id

const { data: userDetails, error: userError } = await getUserDetails(userId)

if (userError) {
  console.error(userError)
}
---

<SignedInPage userName={userDetails.name}>
  <h2>Welcome {userDetails.name}</h2>
  <p>Not much to do here yet.</p>
</SignedInPage>
