---
import Button from "../components/Button.astro"
import TextArea from "../components/TextArea.astro"
import Input from "../components/Input.astro"

const {
  id,
  details: { name, biography },
} = Astro.locals.user
---

<form
  enctype="multipart/form-data"
  hx-put={`/api/userDetails/${id}`}
  hx-target="#profile-main"
  hx-target-5*="#error-message"
>
  <Input type="text" label="Name" name="name" value={name} />

  <TextArea label="Biography" name="biography" value={biography} />

  <Input
    type="file"
    label="Profile picture"
    name="profilePicture"
    accept=".jpg,.jpeg,.png,.bmp,.webp"
  />

  <Button type="submit">Save</Button>
  <div id="error-message"></div>
</form>
