---
import Button from "../components/Button.astro"
import Input from "../components/Input.astro"
import BaseHtml from "../layouts/BaseHtml.astro"
---

<BaseHtml>
  <main class="flex-1 p-4 flex flex-col items-center">
    <header class="p-4 flex justify-center text-5xl font-display">
      <h1
        class="mt-48 text-transparent bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 bg-clip-text"
      >
        Lajvstart
      </h1>
    </header>
    <form
      hx-post="/api/auth/forgotPassword"
      hx-target="#response-message"
      hx-target-4*="#response-message"
      class="mt-32 flex flex-col gap-4 w-72"
    >
      <Input
        label="Email"
        type="email"
        name="email"
        id="email"
        required
        caption="Enter your email to reset the password for your account."
      />

      <Button type="submit">Send reset link</Button>
      <div id="response-message"></div>
    </form>
  </main>
</BaseHtml>
