---
import appwriteSDK from "node-appwrite"
import BaseHtml from "../layouts/baseHtml.astro"

const client = new appwriteSDK.Client()
client
  .setEndpoint("https://cloud.appwrite.io/v1")
  .setProject("659bfb908a90505904e9")
  .setKey(import.meta.env.APPWRITE_API)

const users = new appwriteSDK.Users(client)

const userList = await users.list()

const now = new Date().toString()
---

<BaseHtml>
  <h1>Lajvstart.se</h1>
  <span>The time is {now}</span>

  <h2>Users</h2>
  <ul>
    {userList.users.map((user) => <li>{user.name}</li>)}
  </ul>
</BaseHtml>
