---
import TopLevelPage from "../layouts/TopLevelPage.astro"
---

<TopLevelPage>
  <h2 class="text-4xl text-orange-500 font-display mb-8">Innehållspolicy</h2>
  <div class="max-w-[65ch] *:mt-8">
    <p>
      Alla arrangemang på lajvstart.se och dess tillhörande bilder och texter
      skall vara relaterade till lajv som kommer att spelas eller har spelats i
      eller i anslutning till Sverige, eller som är relevant för svenska
      lajvare. Med lajv menas arrangemang som har som huvudfokus levande
      rollspel och utesluter därmed exempelvis militär simulering och historiskt
      återskapande.
    </p>
    <p>
      Innehåll i form av text, bild, eller annat format som skapas eller laddas
      upp på lajvstart.se får ej vara av olaglig, sexistisk, främlingsfientlig,
      pornografisk, eller på annat sätt diskriminerande eller stötande natur.
    </p>
    <p>
      Den användare som bryter mot innehållspolicyn kommer att varnas och/eller
      stängas av från lajvstart.se. Administratör av lajvstart.se förbehåller
      sig rätten att tolka innehållspolicyn och agera därefter.
    </p>
  </div>
</TopLevelPage>
