---
import ProfileDetails from "./profileDetails.astro"
import SignedInPage from "../layouts/SignedInPage.astro"
---

<SignedInPage>
  <main id="profile-main" class="md:max-w-screen-xl w-full mx-auto p-4">
    <ProfileDetails />
  </main>
</SignedInPage>
