---
import SignedInPage from "../layouts/SignedInPage.astro"

Astro.response.headers.set("HX-Location", "/profile")

const userName = Astro.locals.user.details.name
---

<SignedInPage>
  <h2>{userName}</h2>
</SignedInPage>
