---
import Button from "../components/Button.astro"
import Input from "../components/Input.astro"
import TextArea from "../components/TextArea.astro"
import BaseHtml from "../layouts/BaseHtml.astro"
---

<BaseHtml>
  <header class="p-4 flex justify-center text-5xl font-display">
    <h1
      class="mt-48 text-transparent bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 bg-clip-text"
    >
      Lajvstart
    </h1>
  </header>

  <main class="flex-1 p-4 flex flex-col items-center">
    <form
      enctype="multipart/form-data"
      hx-ext="response-targets"
      hx-post="/api/auth/register"
      hx-target-error="#error-message"
      hx-swap="innerHTML"
      class="mt-32 flex flex-col gap-4 w-72"
    >
      <Input label="Email" type="email" name="email" id="email" required />

      <Input
        label="Lösenord"
        type="password"
        name="password"
        id="password"
        required
      />

      <Input
        id="nameInput"
        label="Vad heter du?"
        type="text"
        name="name"
        required
      />

      <Input
        id="bdayInput"
        label="När är du född?"
        type="date"
        name="birthDate"
        required
      />

      <TextArea
        id="bioInput"
        label="Lite om dig själv"
        name="biography"
        value=""
      />

      <Button type="submit">Registrera!</Button>
      <div id="error-message"></div>
    </form>
  </main>
</BaseHtml>
