---
import Button from "../components/Button.astro"
import Input from "../components/Input.astro"
import BaseHtml from "../layouts/BaseHtml.astro"
---

<BaseHtml>
  <main class="flex-1 p-4 flex flex-col items-center">
    <header class="p-4 flex justify-center text-5xl font-display">
      <h1
        class="mt-48 text-transparent bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 bg-clip-text"
      >
        Lajvstart
      </h1>
    </header>
    <form
      method="post"
      action="/api/auth/resetPassword"
      hx-target-error="#response-message"
      class="mt-32 flex flex-col gap-4 w-72"
    >
      <Input
        label="Nytt lösenord"
        type="password"
        name="password"
        id="password"
        required
        caption="Skriv in ett nytt lösenord för ditt konto"
      />

      <Input
        label="accessToken"
        type="hidden"
        name="accessToken"
        id="accessToken"
      />
      <Input
        label="refreshToken"
        type="hidden"
        name="refreshToken"
        id="refreshToken"
      />

      <Button type="submit">Sätt nytt lösenord</Button>

      <div id="response-message"></div>
    </form>
  </main>

  <script>
    const hashData = window.location.hash.split("&")
    const accessToken = hashData[0]?.slice(14)
    const refreshToken = hashData[3]?.slice(14)

    if (accessToken && refreshToken) {
      document.querySelector<HTMLInputElement>("#accessToken")!.value =
        accessToken
      document.querySelector<HTMLInputElement>("#refreshToken")!.value =
        refreshToken
    }
  </script>
</BaseHtml>
