---
import Button from "../components/Button.astro"
import Input from "../components/Input.astro"
import Link from "../components/Link.astro"
import MainPage from "../layouts/MainPage.astro"
import { ACCESS_TOKEN_COOKIE, REFRESH_TOKEN_COOKIE } from "../utils/constants"

const { cookies, redirect } = Astro

const accessToken = cookies.get(ACCESS_TOKEN_COOKIE)
const refreshToken = cookies.get(REFRESH_TOKEN_COOKIE)

if (accessToken && refreshToken) redirect("/dashboard")
---

<MainPage>
  <main class="flex-1 p-4 flex flex-col items-center">
    <form
      action="/api/auth/signin"
      method="post"
      class="mt-32 flex flex-col gap-4 max-w-lg"
    >
      <Input label="Email" type="email" name="email" id="email" />

      <Input label="Password" type="password" name="password" id="password" />

      <Button type="submit">Login</Button>
    </form>

    <Link class="mt-8" href="/register">Create an account</Link>
  </main>
</MainPage>
