---
import BaseHtml from "../layouts/BaseHtml.astro"
---

<BaseHtml>
  <header class="p-4 flex justify-center text-5xl font-display">
    <h1
      class="mt-48 text-transparent bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 bg-clip-text"
    >
      Lajvstart
    </h1>
  </header>

  <main class="flex-1 p-4 flex flex-col items-center">
    <p>
      Tack för din registrering! Kolla din inkorg och bekräfta din email för att
      slutföra skapandet av ditt konto.
    </p>
  </main>
</BaseHtml>
