---
import RegistrationsTable from "../../../../components/registrationsTable/registrationsTable.astro"
import ManageEvent from "../../../../layouts/ManageEvent.astro"
import { getEvent } from "../../../../services/eventService"
import { getRegistrationsForEvent } from "../../../../services/registrationService"
import type { LARPEvent } from "../../../../types/types"
import { errorResponse as _errorResponse } from "../../../../utils/responseUtils"

const { id } = Astro.params
const userId = Astro.locals.user.id

if (!id) throw new Error("Missing id url param")

let event: LARPEvent

try {
  event = await getEvent(id)
} catch (error) {
  return _errorResponse(error)
}

if (event.owner_id !== userId) return Astro.redirect("/events")

const registrations = await getRegistrationsForEvent(event.id)
---

<ManageEvent eventId={event.id}>
  {
    registrations === null || registrations.length === 0 ? (
      <p>Inga anmälningar</p>
    ) : (
      <RegistrationsTable event={event} registrations={registrations} />
    )
  }
</ManageEvent>
