<button class="
min-w-24 p-2 rounded drop-shadow-md 
bg-gradient-to-r from-amber-400 to-amber-500
hover:from-amber-300 hover:to-amber-400 hover:-translate-y-px
active:from-amber-500 active:to-amber-600 active:translate-y-px active:drop-shadow-none

"

{...Astro.props}>
  <slot />
</button>
