---
import type { EventID } from "../services/eventService"
import Button from "./Button.astro"
import Card from "./Card.astro"

interface Props {
  published: boolean
  eventId: EventID
}

const { published, eventId } = Astro.props
---

<Card
  id="publishCard"
  title={published ? "Publicerat" : "Inte publicerat"}
  backgroundColor={published ? "bg-green-100" : "bg-red-100"}
>
  <div class="mb-2">
    {
      published
        ? "Ditt event är publicerat och kommer dyka upp i listor och sökningar"
        : "Ditt event är inte publicerat ännu och kommer inte dyka upp i listor och sökningar"
    }
  </div>

  <Button
    hx-put={`/api/event/${eventId}/publish`}
    hx-target="#publishCard"
    hx-swap="outerHTML">{published ? "Opublicera" : "Publicera nu!"}</Button
  >
</Card>
