---
import type { EventID } from "../services/eventService"
import type { Registration } from "../services/registrationService"
import RegistrationRow from "./registrationRow.astro"
import Table from "./table/Table.astro"
import TableHead from "./table/TableHead.astro"
import TH from "./table/TH.astro"

interface Props {
  registrations: Registration[]
  eventId: EventID
}
const { registrations, eventId } = Astro.props
const details = registrations[0]?.details || []
---

<Table id="registrationsTable">
  <TableHead>
    <TH>Name</TH>
    <TH>Paid</TH>
    <TH>Special needs</TH>
    {details && details.map((detail) => <TH>{detail.name}</TH>)}
    <TH>Delete</TH>
    <TH>Toggle paid</TH>
  </TableHead>

  <tbody>
    {
      registrations.map((registration) => (
        <RegistrationRow registration={registration} eventId={eventId} />
      ))
    }
  </tbody>
</Table>
