---
import type { Registration } from "../../services/registrationService"
import type { LARPEvent } from "../../types/types"
import Table from "../table/Table.astro"
import TableHead from "../table/TableHead.astro"
import TH from "../table/TH.astro"
import RegistrationRow from "./registrationRow.astro"

interface Props {
  registrations: Registration[]
  event: LARPEvent
}
const { registrations, event } = Astro.props
---

<Table
  id="registrationsTable"
  class="ml-[calc(-100vw/2+1280px/2)] mr-[calc(-100vw/2+1280px/2)]"
>
  <TableHead>
    <TH>Name</TH>
    <TH>Group</TH>
    <TH>Paid</TH>
    <TH>Approved</TH>
    <TH>Special needs</TH>
    {event.details.map((detail) => <TH>{detail.label}</TH>)}
    <TH>Delete</TH>
    <TH>Toggle paid</TH>
    <TH>Toggle approved</TH>
  </TableHead>

  <tbody>
    {
      registrations.map((registration) => (
        <RegistrationRow registration={registration} event={event} />
      ))
    }
  </tbody>
</Table>
