---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"td"> {
  class?: string
}

const { class: className } = Astro.props
---

<td class={`px-6 py-4 ${className}`}>
  <slot />
</td>
