---
import BaseHtml from "./BaseHtml.astro"
---

<BaseHtml>
  <header
    class="p-4 flex justify-center bg-gradient-to-r from-amber-700 to-orange-800 text-stone-50 text-5xl font-display"
  >
    <h1>Lajvstart</h1>
  </header>

  <slot />

  <footer class="p-4 bg-stone-200">Footer</footer>
</BaseHtml>
