---
import BaseHtml from "./BaseHtml.astro"
---

<BaseHtml>
  <header
    class="p-4 flex justify-center bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 text-stone-50 text-5xl font-display"
  >
    <h1>Lajvstart</h1>
  </header>

  <slot />
</BaseHtml>
