---
import BaseHtml from "./BaseHtml.astro"
---

<BaseHtml>
  <header class="p-4 flex justify-center text-5xl font-display">
    <h1
      class="mt-48 text-transparent bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 bg-clip-text"
    >
      Lajvstart
    </h1>
  </header>

  <slot />
</BaseHtml>
