---
import Link from "../components/Link.astro"
import { getMyEvents } from "../services/eventService"
import { isDev, isProd } from "../utils/constants"
import { isLocal } from "../utils/constants"
import BaseHtml from "./BaseHtml.astro"

let userName
let userId
let avatarUrl
let userEvents = []

const isSignedIn = Astro.locals.isSignedIn

if (isSignedIn) {
  userName = Astro.locals.user.details.name
  userId = Astro.locals.user.details.user_id
  avatarUrl = Astro.locals.user.details.profile_picture_url
  userEvents = await getMyEvents(userId)
}

const headers = Astro.request.headers

const isHtmxRequest = headers.get("HX-Request") === "true"

const badge = isLocal ? "Local dev" : isDev ? "Development build" : "Alpha"
---

{
  isHtmxRequest ? (
    <slot />
  ) : (
    <BaseHtml>
      {isProd && (
        <div class="bg-sky-900 text-white text-center p-4">
          Lajvstart.se is a place for organizers and participants to find,
          publish and participate in LARP events. An open beta will take place
          during 2025. Join the Discord server for updates:{" "}
          <a href="https://discord.gg/JBCbmnk2">https://discord.gg/JBCbmnk2</a>.
        </div>
      )}
      <header class="p-4 bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600">
        <nav class="md:max-w-screen-xl w-full mx-auto px-4">
          <div class="flex flex-wrap items-center justify-between mx-auto">
            <a
              href="/events"
              hx-boost="true"
              hx-target="#main"
              class="flex items-center space-x-3 rtl:space-x-reverse"
            >
              <h1 class="text-4xl text-white font-display">
                Lajvstart <span class="text-xs uppercase">{badge}</span>
              </h1>
            </a>

            <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
              {isSignedIn && (
                <>
                  <button
                    type="button"
                    class="flex text-sm rounded-full md:me-0 focus:ring-4"
                    id="user-menu-button"
                    aria-expanded="false"
                    data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom-start"
                  >
                    <span class="sr-only">Open user menu</span>
                    {avatarUrl ? (
                      <img src={avatarUrl} class="w-10 h-10 rounded-full" />
                    ) : (
                      <svg
                        class="w-10 h-10 text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M12 20a8 8 0 0 1-5-1.8v-.6c0-1.8 1.5-3.3 3.3-3.3h3.4c1.8 0 3.3 1.5 3.3 3.3v.6a8 8 0 0 1-5 1.8ZM2 12a10 10 0 1 1 10 10A10 10 0 0 1 2 12Zm10-5a3.3 3.3 0 0 0-3.3 3.3c0 1.7 1.5 3.2 3.3 3.2 1.8 0 3.3-1.5 3.3-3.3C15.3 8.6 13.8 7 12 7Z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    )}
                  </button>
                  <div
                    class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow"
                    id="user-dropdown"
                  >
                    <div class="px-4 py-3">
                      <span class="block font-bold text-gray-900">
                        {userName}
                      </span>
                    </div>

                    <ul aria-labelledby="user-menu-button">
                      {userEvents.length > 0 && (
                        <li class="text-sm text-gray-700 hover:bg-gray-100">
                          <a
                            class="block p-2 w-full"
                            href="/events/my"
                            hx-boost="true"
                            hx-target="#main"
                          >
                            My events
                          </a>
                        </li>
                      )}

                      <li class="text-sm text-gray-700 hover:bg-gray-100">
                        <a
                          class="block p-2 w-full"
                          href="/events/favourites"
                          hx-boost="true"
                          hx-target="#main"
                        >
                          My favourites
                        </a>
                      </li>

                      <li class="text-sm text-gray-700 hover:bg-gray-100">
                        <a
                          class="block p-2 w-full"
                          href="/characters"
                          hx-boost="true"
                          hx-target="#main"
                        >
                          My characters
                        </a>
                      </li>

                      <li class="text-sm text-gray-700 hover:bg-gray-100">
                        <a
                          href="/profile"
                          hx-boost="true"
                          hx-target="#main"
                          class="block p-2 w-full"
                        >
                          Profile
                        </a>
                      </li>

                      <li>
                        <form
                          class="block hover:bg-gray-100"
                          action="/api/auth/signout"
                        >
                          <button
                            class="p-2 w-full text-sm flex text-gray-700"
                            type="submit"
                          >
                            Sign out
                          </button>
                        </form>
                      </li>
                    </ul>
                  </div>
                </>
              )}

              {!isSignedIn && (
                <Link appearance="button" href="/signin">
                  Sign in
                </Link>
              )}

              <button
                data-collapse-toggle="navbar-user"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden"
                aria-controls="navbar-user"
                aria-expanded="false"
              >
                <span class="sr-only">Open main menu</span>
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 17 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"
                  />
                </svg>
              </button>
            </div>

            <div
              class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
              id="navbar-user"
            >
              <ul
                class="flex flex-col text-xl mt-4 border md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
                x-data="{
                  activePage: document.location.pathname.split('/')[1],
                  activeClass: 'block py-2 px-3 text-white font-bold underline underline-offset-8 decoration-4',
                  inactiveClass: 'block py-2 px-3 text-white'
                }"
              >
                <li>
                  <a
                    href="/events"
                    hx-boost="true"
                    hx-target="#main"
                    x-bind:class="activePage === 'events' ? activeClass : inactiveClass"
                    x-on:click="activePage = 'events'"
                    aria-current="page"
                  >
                    Events
                  </a>
                </li>

                <li>
                  <a
                    href="/map"
                    hx-boost="true"
                    hx-target="#main"
                    x-bind:class="activePage === 'map' ? activeClass : inactiveClass"
                    x-on:click="activePage = 'map'"
                    aria-current="page"
                  >
                    Map
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main id="main" class="md:max-w-screen-xl w-full mx-auto p-4">
        <slot />
      </main>
    </BaseHtml>
  )
}
