---
import Button from "../../components/Button.astro"
import EventCard from "../../components/EventCard.astro"
import { supabase } from "../../lib/supabase"
import { useNamespace } from "../../lib/cache"
import { errorResponse } from "../../utils/responseUtils"
import type { LARPEvent } from "../../types/types"
import { log } from "../../lib/logger"

const userName = Astro.locals.user.details.name

const eventsCache = useNamespace<LARPEvent[]>("events")
let events = eventsCache.get("upcoming")

if (!events) {
  log("Getting events from DB")
  const { data, error: getEventsError } = await supabase
    .from("events")
    .select()
    .gte("date_start", new Date().toISOString())
    .order("date_start")

  if (getEventsError) return errorResponse("Error while fetching events")

  eventsCache.set("upcoming", data, 1000 * 60 * 5)
  events = data
}
---

<p>Welcome {userName}!</p>

<h2>Upcoming events</h2>

{events === null && <p>No upcoming events</p>}

{
  events !== null && (
    <ul>
      {events.map((event) => (
        <li>
          <EventCard event={event} />
        </li>
      ))}
    </ul>
  )
}

<Button hx-get="/events/new" hx-target="#events-main">Create event</Button>
