---
import SignedInPage from "../../layouts/SignedInPage.astro"
import Explore from "./explore.astro"
---

<SignedInPage>
  <main id="events-main" class="md:max-w-screen-xl w-full mx-auto p-4">
    <Explore />
  </main>
</SignedInPage>
