---
import SignedInPage from "../../layouts/SignedInPage.astro"
import EventCard from "../../components/EventCard.astro"
import { EVENT_COLLECTIONS_CACHE, useNamespace } from "../../lib/cache"
import { errorResponse as _errorResponse } from "../../utils/responseUtils"
import type { LARPEvent } from "../../types/types"
import { log } from "../../lib/logger"
import { getUpcomingEvents } from "../../services/eventService"
import Link from "../../components/Link.astro"
import Plus from "../../components/icons/Plus.astro"

const eventsCache = useNamespace<LARPEvent[]>(EVENT_COLLECTIONS_CACHE)
let events = eventsCache.get("upcoming")

if (!events) {
  log("Getting events from DB")

  const { data, error: getEventsError } = await getUpcomingEvents()

  if (getEventsError || !data)
    return _errorResponse("Error while fetching events")

  events = data
}
---

<SignedInPage>
  <div class="flex justify-between items-baseline">
    <h2 class="text-4xl text-orange-500 font-display mb-8">Upcoming events</h2>
    <Link
      appearance="button"
      href="/events/new"
      hx-boost="true"
      hx-target="#main"
      ><Plus class="text-white" /> <span>Create event</span></Link
    >
  </div>

  {events === null && <p>No upcoming events</p>}

  {
    events !== null && (
      <ul class="grid grid-cols-events gap-8 mb-8">
        {events.map((event) => (
          <li>
            <EventCard event={event} />
          </li>
        ))}
      </ul>
    )
  }
</SignedInPage>
