---
import TopLevelPage from "../../layouts/TopLevelPage.astro"
import { useNamespace, USER_EVENTS_CACHE } from "../../lib/cache"
import { errorResponse as _errorResponse } from "../../utils/responseUtils"
import type { LARPEvent } from "../../types/types"
import { log } from "../../lib/logger"
import { getMyEvents } from "../../services/eventService"
import Table from "../../components/table/Table.astro"
import TableHead from "../../components/table/TableHead.astro"
import TH from "../../components/table/TH.astro"
import TR from "../../components/table/TR.astro"
import TD from "../../components/table/TD.astro"
import Link from "../../components/Link.astro"
import Plus from "../../components/icons/Plus.astro"

const userId = Astro.locals.user.id

const userEventsCache = useNamespace<LARPEvent[]>(USER_EVENTS_CACHE)
let events = userEventsCache.get(userId)

if (!events) {
  log("Getting events from DB")

  events = await getMyEvents(userId)
}
---

<TopLevelPage>
  <h2 class="text-4xl text-orange-500 font-display mb-8">Mina arrangemang</h2>

  <Table id="myEventsTable">
    <TableHead>
      <TH>Arrangemang</TH>
      <TH>Börjar</TH>
      <TH>Publicerat</TH>
      <TH>Hantera</TH>
      <TH>Duplicera</TH>
    </TableHead>

    <tbody>
      {
        events.map((event) => (
          <TR>
            <TD>{event.name}</TD>
            <TD>{event.date_start}</TD>
            <TD>
              {event.is_published ? (
                <span class="text-green-700">Publicerat ✅</span>
              ) : (
                <span class="text-red-700">Ej publicerat ❌</span>
              )}
            </TD>
            <TD>
              <Link
                href={`/events/${event.id}/manage/overview`}
                hx-target="#main"
                hx-boost="true"
              >
                Hantera
              </Link>
            </TD>
            <TD>
              <Link
                hx-post={`/api/event/${event.id}/duplicate`}
                hx-target="#main"
                hx-boost="true"
              >
                Duplicera
              </Link>
            </TD>
          </TR>
        ))
      }
    </tbody>
  </Table>
  <Link
    appearance="button"
    href="/events/new"
    hx-boost="true"
    hx-target="#main"
    class="mt-4"
  >
    <Plus class="text-white" />
    <span>Skapa arrangemang</span>
  </Link>
</TopLevelPage>
