---
import Button from "../../components/Button.astro"
import Checkbox from "../../components/Checkbox.astro"
import Input from "../../components/Input.astro"
import Select from "../../components/Select.astro"
import TextArea from "../../components/TextArea.astro"
import TopLevelPage from "../../layouts/TopLevelPage.astro"
import { eventTags } from "../../utils/constants"
---

<TopLevelPage>
  <h2>Create new event</h2>

  <form
    class="flex flex-col gap-4 mb-12"
    method="post"
    action="/api/event"
    hx-boost="true"
    enctype="multipart/form-data"
    hx-target-5*="#error-message"
  >
    <Input
      id="eventName"
      type="text"
      label="Name"
      name="name"
      required
      maxlength="100"
    />

    <Input
      id="eventStartDateInput"
      type="date"
      label="Start Date"
      name="startDate"
      required
    />

    <Input
      id="eventEndDateInput"
      type="date"
      label="End Date"
      name="endDate"
      required
    />

    <Input
      id="eventLocation"
      type="text"
      label="Location"
      name="location"
      required
    />

    <Input
      id="eventLatitude"
      type="text"
      label="Latitude"
      name="latitude"
      required
    />

    <Input
      id="eventLongitude"
      type="text"
      label="Longitude"
      name="longitude"
      required
    />

    <TextArea
      id="eventDescriptionShort"
      label="Short description"
      name="descriptionShort"
      maxlength="200"
    />

    <TextArea id="eventDescription" label="Description" name="description" />

    <Input
      id="eventPicInput"
      type="file"
      label="Event picture"
      name="eventPicture"
      accept=".jpg,.jpeg,.png,.bmp,.webp"
    />

    <Select multiple id="eventTagsInput" label="Tags" name="tags">
      {eventTags.map((tag) => <option value={tag}>{tag}</option>)}
    </Select>

    <Checkbox
      id="eventBeginnerFriendly"
      label="Beginner friendly"
      name="beginnerFriendly"
    />

    <Input
      id="ageRestriction"
      type="number"
      label="Lowest age allowed"
      name="ageRestriction"
    />

    <Input
      id="maximumParticipants"
      type="number"
      label="Maximum participants"
      name="maximumParticipants"
    />

    <Button class="self-end" type="submit">Create!</Button>

    <div id="error-message"></div>
  </form>
</TopLevelPage>
