---
import EditEventForm from "../../components/EditEventForm.astro"
import TopLevelPage from "../../layouts/TopLevelPage.astro"
---

<TopLevelPage>
  <h2>Create new event</h2>

  <EditEventForm method="post" action="/api/event" />
</TopLevelPage>
